*{
    margin:0;
    font-family: Helvetica;
}

/*==================
       HEADER
==================*/
a{
    color:aliceblue;
    text-decoration: none;
    padding:12px;
    display: inline-block ;
}
a:hover{
    background-color:rgb(124, 124, 124)
}

header{
    display:flex;
    background-color: black;
    justify-content: space-between;
    color:white;
    position:sticky;
    top:0;

}
.fa-house-chimney-window{
    padding-right: 7px;
    font-size: 14px;
}
.fa-magnifying-glass{
    padding-right:10px;
    padding-top: 12px;
    
}
.fa-caret-down{
    color: #009688;
}
.logo{
    background-color: #009688;
}

/*==================
       Section
==================*/

.main-img{
    width:100%;
    height:600px;

}

.sec-link{
    color:white;
    background-color: #000000a4;
    position:relative;
    bottom:90px;
    left:30px;
    font-size:30px;
    border-radius:5px;
}
.sec-link:hover{
    color:white;
    background-color: #0096878f;
}

/*==================
       Section 2
==================*/
.our,.meet{
    text-align: center;
    margin-bottom:15px;
}
.container{
    display:flex;
    justify-content: space-around;
    margin-top: 50px;
}
.divison{
    text-align:center;
    
}
.pic{
    border-radius:50%;
    border: 2.5px solid black;
    
}

.name,.job{
    margin-top: 10px;
}

/*==================
       Section 3
==================*/
.gray{
    background-color: rgb(65, 65, 65);
    margin-top: 50px;
    padding-top: 30px;
    display:flex;
    height:500px;
    justify-content: space-around;
    
}
.pic-work{
    width:100%;
    height:170px;
    border-radius: 18px;
    
}
.white{
    background-color: aliceblue;
    height:350px;
    border: 2px solid #009688;
    border-radius: 20px;
    width:20%;

}
.white:hover{
    box-shadow: 5px 5px 15px rgba(0, 112, 107, 0.685);
}

.our-work{
    width:20%;
    color:aliceblue
}
.our-work-p,.our-work-h{
    text-align: center;
    padding-top:5px;
}

/*==================
       Section 4 Pricing
==================*/

.pricing{
    text-align: center;
    margin-top: 70px;
}
.pricing-plan{
    margin-top: 20px;
}
.basic{
    margin:40px;
    width:30%;
}
.basic h1{
    background-color: black;
    color:white;
    padding:15px 0px;
}
.basic p{
    border:1px solid gray;
    padding:25px 0px;
}

.basic:hover{
    
    box-shadow: 3px 3px 15px gray;

}
.sign-up{
    background-color: teal;
    margin-top:5px;
    margin-bottom: 5px;
}
.parent-basic{
    display:flex;
    justify-content: space-between;
    margin-left:20px;
    margin-right:20px;
}
.bottom-basic{
    background-color: rgb(185, 185, 185);
    border:1px solid gray;
}

/*==================
       Contact Us
==================*/

.form{
    background-color: rgb(238, 238, 238);
    padding:50px 0px;
    display:flex;
    justify-content: space-around;
}
.contact-us h1{
    border-bottom:5px solid #009688;
    display: inline-block;
}

.contact-us{
    width:40%;
    padding-left:20px;
    line-height: 30px;
}
.real-form{
    background-color: white;
    width:45%;
    box-shadow: 5px 5px 26px rgb(156, 156, 156);
    padding-left: 15px;
    padding-top:15px;


}
input{
    border: none;
    border-bottom:2px solid rgb(212, 212, 212) ;
    height: 20px;
    width:100%; 
}
.checkbox{
    width:20px;
}
button{
    position: relative;
    background-color: black;
    color: white;
    border: 1px solid black;
    padding:10px 20px;
    float:right;
    margin-bottom:15px;
    margin-right:20px;
    bottom:60px;
}
.check-label{
    position: relative;
    bottom:56px;
    left:25px;
    
}

.fa-location-dot,.fa-phone,.fa-envelope{
    color: teal;
}

.map{
    width:100%;
    height:auto;
}

/*==================
       Footer
==================*/

.main-icons{
    display:flex;
    justify-content: center;
   

}

.main-icons a{
    background-color: teal;
    color:white;
    padding:10px;
    margin:10px;
    border-radius: 5px;
}

.main-icons a:hover{
    background-color: gray;
    color:black;
}
footer{
    padding-top:50px ;
    background-color: black;
    height:200px;
}

footer p{
    color:white;
    text-align: center;
    font-size: large;
    margin-bottom: 20px;
}





















